<div class="app">
    <div class="header">
        <div class="title">
            <h2 id="planning" class="font-title">Planning</h2>
        </div>
    </div>
    <div class="content">
        <div class="element two">
            <div class="image">
                <img src="./../../assets/planning/valia.jpg" alt="">
            </div>
            <div class="right">
                <div class="title">
                    <h3 class="font-title">
                        For neurographic portrait
                    </h3>
                </div>
                <div class="text">
                    <p class="font-text">
                        I used this picture as a reference.
                    </p>
                </div>
            </div>
        </div>
        <div class="element one">
            <div class="image">
                <img src="./../../assets/planning/statue.jpeg">
            </div>
            <div class="right">
                <div class="title">
                    <h3 class="font-title">
                        For Statue
                    </h3>
                </div>
                <div class="text">
                    <p class="font-text">
                        Picture of Motherland Statue in Kyiv that I used as a reference.
                    </p>
                </div>
            </div>
        </div>
        <div class="element three">
            <div class="image">
                <img src="./../../assets/planning/pencils.jpeg" alt="">
            </div>
            <div class="right">
                <div class="title">
                    <h3 class="font-title">
                        For Still Life
                    </h3>
                </div>
                <div class="text">
                    <p class="font-text">
                        Picture taken by me of random objects that I used as a reference for the still life projects.
                    </p>
                </div>
            </div>
        </div>
        <div class="element four">
            <div class="image">
                <img src="./../../assets/planning/witch.jpg" alt="">
            </div>
            <div class="right">
                <div class="title">
                    <h3 class="font-title">
                        For my culminating
                    </h3>
                </div>
                <div class="text">
                    <p class="font-text">
                        Sketch I drew for my culminating.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>