<div class="app">
    <div class="text">
        <div class="header">
            <h1 class="font-title">
                Bazhan Nahnybida
            </h1>
        </div>
        <div class="about">
            <p class="font-text">
                a high student from a small town in Southwestern Canada.
                I'm a big enjoyer of art in all its forms.
                Visual arts are important for me because I want to create attractive designs for advertising and websites. 
            </p>
            <p class="font-text">
                When I create art, I feel at ease and peaceful.
                I'm not a very good artist yet, but I really do enjoy it.
                Especially projects that I wanted to make, and was forced to make in this class.
            </p>
            <p class="font-text">
                What I discovered in this class is that simple art like sketching is very cool.
                I discovered that sketching allowed me to be original
                without worrying about colors/canvases/and other things. 
                Simplicity and freedom is what I like.
            </p>
        </div>
    </div>
</div>