<div class="app">
    <div class="header">
        <div class="title">
            <h2 id="contact" class="font-title">
                Contact
            </h2>
        </div>
    </div>
    <div class="content">
        <div class="top">
            <input placeholder="Name" class="font-text">
            <input type="email" placeholder="Email" class="font-text">
        </div>
        <div class="message">
            <textarea name="" id="" placeholder="Message"></textarea>
        </div>
        <div class="button">
            <button class="font-text">Send</button>
        </div>
    </div>
</div>