<div class="grid">
  <div class="lines-wrap">
    <div class="line line1"></div>
    <div class="line line2"></div>
    <div class="line line3"></div>
    <div class="line line4"></div>
    <div class="line line5"></div>
  </div>
</div>
<div class="app">
  <div class="header">
    <div class="title">
      <p class="font-title">
        Portfolio
      </p>
    </div>
    <div class="nav">
      <div class="link">
        <a routerLink="" class="font-text">
          About
        </a>
      </div>
      <div class="link">
        <a routerLink="" class="font-text">
          Sketchbook
        </a>
      </div>
      <div class="link">
        <a routerLink="" class="font-text">
          Projects
        </a>
      </div>
    </div>
  </div>
  <div class="content-wrap">
    <div class="content">
      <app-about></app-about>
      <app-projects></app-projects>
      <app-sketchbook></app-sketchbook>
      <app-planning></app-planning>
      <app-contact></app-contact>
      <!-- <app-statue></app-statue> -->
    </div>
  </div>
</div>