<div class="app">
    <div class="header">
        <div class="title">
            <h2 class="font-title">
                Projects
            </h2>
        </div>
    </div>
    <div class="content">
        <div class="list">
            <div class="element two">
                <div class="image">
                    <img src="./../../assets/valia.jpg">
                </div>
                <div class="right">
                    <div class="header">
                        <div class="title">
                            <div class="date">
                                <p class="font-small">Date: <span>2/13/2024</span></p>
                            </div>
                            <h3 class="font-title">Valentyna</h3>
                        </div>
                        <div class="badge">
                            <img src="./../../assets/icons/sad.svg">
                        </div>
                    </div>
                    <div class="description">
                        <div class="text">
                            <p class="font-text">
                                I used watercolor paint on a paper.
                            </p>
                            <p class="font-text">
                                Neurographic art a technique, which comprises drawing freeform lines or neuro lines.
                                These are meant to enable the connection between the conscious and unconscious, 
                                gaining access to the inner self by using a specific algorithm or method.
                            </p>
                            <p class="font-text">
                                I utilized the principles of Color and Emphasis to bring out her vibrant personality
                                and highlight her key features. The use of bold and contrasting colors creates a dynamic energy.
                            </p>
                            <p class="font-text">
                                I should use more colors and add more detail to the lines next time.
                            </p>
                            <p class="font-text">
                                Fun fact: I'm such a good brother that I will never show this to my sister.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="element one">
                <div class="image">
                    <img src="./../../assets/painting.png" [class.rotated]="rotated">
                </div>
                <div class="right">
                    <div class="header">
                        <div class="title">
                            <div class="date">
                                <p class="font-small">Date: <span>5/2/2024</span></p>
                            </div>
                            <h3 class="font-title">Statue</h3>
                        </div>
                        <div class="badge">
                            <img src="./../../assets/icons/sad.svg">
                        </div>
                    </div>
                    <div class="description">
                        <div class="text">
                            <!-- <p class="font-text">
                                This is a <a href="https://en.wikipedia.org/wiki/Mother_Ukraine">statue</a> from my hometown Kyiv. When I was little, me with my siblings went to the <a href="https://en.wikipedia.org/wiki/Mother_Ukraine">statue</a> and used a drone to take this sick picture of it on the sunset. Unfortunately I could not find the picture so I just painted what I found on the internet.
                            </p> -->
                            <p class="font-text">
                                On this painting I used cyrillic paint with a canvas.
                            </p>
                            <p class="font-text">
                                Landscape painting caputers mood and athmosphere of a place.
                                Artists use different principles of art, styles, and techniques to do that.
                            </p>
                            <p class="font-text">
                                In my painting I mostly used Balance and Emphasis to portray the bigness of the statue.
                            </p>
                            <p class="font-text">
                                I used the newly developed "angleonism" style. To fully grasp the beauty of this art piece, it has to be turned upside down and looked at at 45 degree angle.
                                Click <button class="turn-around" (click)="rotate()">here</button> to reveal the true potential of this painting.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="element three">
                <div class="image">
                    <img src="./../../assets/drawing.jpg">
                </div>
                <div class="right">
                    <div class="header">
                        <div class="title">
                            <div class="date">
                                <p class="font-small">Date: <span>3/19/2024</span></p>
                            </div>
                            <h3 class="font-title">
                                Untidiness
                            </h3>
                        </div>
                        <div class="badge">
                           <img src="./../../assets/icons/skull.svg" alt=""> 
                        </div>
                    </div>
                    <div class="description">
                        <div class="text">
                            <p class="font-text">
                                I used colored pencils and paper.
                            </p>
                            <p class="font-text">
                                Still life aims to create a drawing of an exact copy of some objects that you see.
                                The piece was intended to show my skills of drawing realistically with pencils. 
                            </p>
                            <p class="font-text">
                                I utilized Emphasis and Color to highlight the violin, my favorite musical instrument. I strategically barely used any color for any objects because they don't deserve to stand out when a violin is in the picture. Violin is, obviously, the emphasis by being the biggest and the best object of all the other.
                            </p>
                            <p class="font-text">
                                Now that I'm a little better with pencils, I'm confident that next time I will do better with coloring.
                            </p>
                            <!-- <p class="font-text">
                                Fun fact: my room is always clean.
                            </p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="element four">
                <div class="image">
                    <img src="./../../assets/car.jpg">
                </div>
                <div class="right">
                    <div class="header">
                        <div class="title">
                            <div class="date">
                                <p class="font-small">Date: <span>4/18/2024</span></p>
                            </div>
                            <h3 class="font-title">
                                Fillmore mini
                            </h3>
                        </div>
                        <div class="badge">
                            <img src="./../../assets/icons/happy.svg" alt="">
                        </div>
                    </div>
                    <div class="description">
                        <div class="text">
                            <p class="font-text">
                                I used cyrillic and a metal toy car.
                            </p>
                            <p class="font-text">
                                I painted on a car, trying to immitate a modert artist called William Morris. William Morris paints beautiful flower patterns.
                            </p>
                            <p class="font-text">
                                I utilized principles of Pattern and Balance in this piece. The flowers repeated is pattern, equally the same two sides is balance.
                            </p>
                            <p class="font-text">
                                I was aiming to make this bright, pretty, light, design that brings happiness and ease of mind.
                                It turned out a little darker than expected, but still the result was not as bad as expected.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="element five">
                <div class="image">
                    <img src="./../../assets/pic5.png">
                    <img src="./../../assets/pic1.png">
                </div>
                <div class="right">
                    <div class="header">
                        <div class="title">
                            <div class="date">
                                <p class="font-small">Date: <span>6/17/2024</span></p>
                            </div>
                            <h3 class="font-title">
                                Witch
                            </h3>
                        </div>
                        <div class="badge">
                            <img src="./../../assets/icons/happy.svg">
                        </div>
                    </div>
                    <div class="description">
                        <div class="text">
                            <p class="font-text">
                                I used blender.
                            </p>
                            <p class="font-text">
                                I was making a witch with long hands and big hood. Turned out pretty great.
                            </p>
                            <app-statue></app-statue>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>